* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    font-weight: bold;
}

:root {
    --color-principal: #A7D8F5;
    --color-principal-claro: #B7E8F5;
    --color-principal-oscuro: #368;
    --color-secundario: white;
    --color-terciario: #F6B40E;
    --color-terciario-claro: #FD2;
    --sombra-clara: #888;
    --sombra-oscura: #444;
    background-color: var(--color-secundario);
}

html {
    width: 100%;
    font-size: clamp(10px, 1vw, 18px);
    scroll-behavior: smooth;
}

@font-face {
    font-family: "montserrat";
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "montserrat-bold";
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: 300;
}

body {
    overflow-x: hidden;
}

/*---------------------------------------------------HEADER---------------------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--color-principal-claro);
    padding: 10px;
    align-items: center;
    padding-left: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 30px 0 var(--sombra-oscura);
    z-index: 1;
    font-size: 1.1rem;
}

.nav-section {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.iconify:hover {
    cursor: pointer;
    border-bottom: solid 2px var(--color-principal-oscuro);
}

.index:hover {
    cursor: pointer;
    border-bottom: solid 2px var(--color-principal-oscuro);
}

header {
    background-image: url('./images/imagen_header.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

header div img{
    height: 15vw;
    width: 15vw;
    min-height: 100px;
    min-width: 100px;
    margin: 0 auto;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90%;
    width: 100%;
    color: var(--color-secundario);
}

h1 {
    font-size: 2.5rem;
    color: var(--color-principal-claro);
    font-family: "montserrat-bold";
}

#header-title {
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-family: "montserrat";
}

h2 {
    font-size: 2.5rem;
    font-family: "montserrat-bold";
}

span{
    font-style: italic;
    font-size: 1.5rem;
}
/*---------------------------------------------------MAIN-----------------------------------------------------------------------*/

.sectionCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    box-shadow: 0 0 10px 0 var(--sombra-clara);
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    border-radius: 30px;
    margin-top: 70px;
    background-color: var(--color-principal-claro);
}

section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    width: 100%;
    padding: 50px;
    margin-top: 70px;
    background-color: var(--color-principal-claro);
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

#galeria {
    display: block;
    text-align: center;
    background-color: var(--color-secundario);
}

.card {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img {
    width: 40vw;
    height: 30vw;
    border-radius: 30px;
}

.section_container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    font-size: 1.3rem;
}

form {
    width: 55vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    margin-top: 60px;
    border-radius: 50px;
    box-shadow: 0 0 10px var(--sombra-clara);
    background-color: var(--color-secundario);
    border-top: solid 10px var(--color-principal-oscuro);
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

input {
    border-radius: 20px;
    border: none;
    width: 15vw;
    padding: 5px;
    border: solid 1px var(--color-principal-oscuro);
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    border-radius: 5px;
    border: none;
    width: 25vw;
    padding: 10px;
    border: solid 1px var(--color-principal-oscuro);
}

button {
    border-radius: 20px;
    border: solid 1px var(--color-principal-oscuro);
    background-color: var(--color-secundario);
    padding: 10px 20px;
    transition-duration: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-principal);
}

#ubicacion {
    border-bottom: solid 5px var(--color-principal-oscuro);
    border-top: solid 5px var(--color-principal-oscuro);;
}

form div {
    display: flex;
    gap: 30px;
}

footer {
    padding: 30px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
}

footer p {
    font-size: 1rem;
}


@media screen and (max-width: 540px) {
    header {
        height: 40vh;
        background-size: 130%;
        background-position: top;
    }

    #header-title {
        font-size: 1rem;
    }

    .iconify {
        height: 5vw;
        width: 5vw;
    }

    h1 {
        font-size: 1.3rem;
    }

    span {
        font-size: 1rem;
    }

    .sectionCard {
        font-size: 1px;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
    }

    .section_container {
        padding: 15px;
        text-align: center;
    }

    section img {
        order: -1;
        width: 70%;
        height: 30%;
    }

    form {
        width: 90%;
    }

    input, textarea, iframe, .section_container {
        width: 100%;
    }

    button {
        width: 40%;
    }

    section {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    iframe {
        height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #header-title {
        font-size: 2.5rem;
    }

    header div img {
        width: 25vw;
        height: 25vw;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    span {
        font-size: 2rem;
    }
}